<div>
  <div class="pt-5 flex justify-center md:justify-start ml-2">
    <app-search-bar (resultSearchTextField$)="resultSearchTextFieldEvent($event)"></app-search-bar>
  </div>
  <div class="flex flex-col lg:flex-row">
   <!-- <div class=""></div>-->
 <app-advanced-search (searchByLevel$)="searchByLevelEvent($event)"></app-advanced-search>
<div class="flex flex-wrap justify-center md:justify-start">
  <ng-template ngFor let-unitsList [ngForOf]="unitsList$ | async" let-i="index"> 
  <div class="h-124 w-80">
   <mat-card class="h-auto bg-blackCardUnit m-2">
     <mat-card-header class="w-full flex justify-center">
      <div class="w-60 flex justify-between">
        <div class="h-6 w-6">
          <img class="h-6 w-6" src="{{unitsList.gender.picture}}" alt="{{unitsList.gender.alt}}">
        </div>
        <div class="flex flex-col">
          <mat-card-title class="text-xl font-bold text-{{unitsList.color}}">{{unitsList.name}}</mat-card-title>
          <mat-card-title class="text-xl text-stars text-center">{{unitsList.level}}</mat-card-title>
         </div>

        <div class="h-6 w-6">
          <img class="h-6 w-6" src="{{unitsList.element.picture}}" alt="{{unitsList.element.alt}}">
        </div>
      </div>
    </mat-card-header>
     <div class="flex justify-between">
       <img class="ml-4" (mouseenter) ="hoveredDungeonPicture = i"  (mouseleave)="hoveredDungeonPicture = null" src="assets/imgs/anime_fight_icon.png" alt="anime fight icon">
       <img class="mr-4" (mouseenter) ="hovereArenaPicture = i"  (mouseleave)="hovereArenaPicture = null" src="assets/imgs/arena_fight_icon.png" alt="arena fight icon">
     </div>
     <div *ngIf="hoveredDungeonPicture === i" class="relative">
       <div class="absolute">
         <div *ngFor="let field of unitsList.fields">
          <img class="h-48 w-72" src="assets/imgs/fields/dungeon_battle.jpg" alt="donjon nature">
         </div>
       </div>
       <div class="absolute right-16 top-10">
        <div *ngFor="let animeBattle of unitsList.animationBattle">
          <img src="{{animeBattle.normalAttack}}" alt="{{animeBattle.altNormalAttack}}">
        </div>
      </div>
     </div>
     <div *ngIf="hovereArenaPicture === i" class="relative">
      <div class="absolute">
        <div *ngFor="let field of unitsList.fields">
         <img class="h-48 w-72" src="assets/imgs/fields/arena.jpg" alt="Arena">
        </div>
      </div>
      <div class="absolute right-16 top-10">
       <div *ngFor="let animeBattle of unitsList.animationBattle">
         <img src="{{animeBattle.combatMode}}" alt="{{animeBattle.altCombatMode}}">
       </div>
     </div>
    </div>
    <img class="h-52 ml-1 pb-3" src="{{unitsList.unit.picture}}" alt="{{unitsList.unit.alt}}">
   <mat-divider class="bg-white"></mat-divider>
  <mat-card-content class="w-full">
      <div class="pt-3">
         <div class="flex justify-around">
            <p class="font-bold text-{{unitsList.color}}">HP</p>
            <p class="font-bold text-{{unitsList.color}}">ATK</p>
            <p class="font-bold text-{{unitsList.color}}">DEF</p>
            <p class="font-bold text-{{unitsList.color}}">REC</p>
         </div>
         <div class="flex justify-around" *ngFor="let stat of unitsList.baseStat">
           <p class="text-white">{{stat.hp}}</p>
           <p class="text-white">{{stat.atk}}</p>
           <p class="text-white">{{stat.def}}</p>
           <p class="text-white">{{stat.rec}}</p>
         </div>
      </div>
      <mat-divider class="bg-white"></mat-divider>
      <div class="grid grid-cols-16 grid-rows-10 overflow-custom p-2">
        <div class="pr-1" *ngFor="let e of unitsList.chainsEvolves">
          <img [ngClass]="{'border border-{{unitsList.color}}' : unitsList.name ===  e.alt}" class="h-10 w-10 p-0.5" src="{{e.evolve}}" alt="{{e.alt}}">
        </div>
      </div>
    </mat-card-content>
   </mat-card>
   </div>
  </ng-template>
 </div>
</div>
</div>




