  <mat-toolbar class="bg-blackCardUnit">
    <button class="visible md:hidden h-10 w-10 p-2">
      <mat-icon class="text-white focus:outline-none visible md:invisible" [matMenuTriggerFor]="menuHeader">menu</mat-icon>
    </button>
    <span class="text-white mr-5">Brave Frontier Tools</span>
    <div class="hidden lg:block" *ngFor="let nav of navLinks">
      <button class="text-white mr-3 focus:outline-none" [routerLink]="nav.path">{{nav.label}}</button>
    </div>
      <mat-menu class="bg-black" #menuHeader="matMenu">
        <div class="visible md:invisible" *ngFor="let nav of navLinks">
           <button mat-menu-item class="text-white focus:outline-none text-center" [routerLink]="nav.path">{{nav.label}}</button>
        </div>
      </mat-menu>
  </mat-toolbar>
<!--Equipes, Sphères, Materials, Simulateur-->
